body{
  background-color:rgb(247, 216, 170)
}



.checked{
  color: goldenrod;
}
.unchecked{
  color:rgb(252, 215, 169)
}
.badge{
  background-color: red;
}
.carts{
  color:red;
  
}
 .cls{
  text-decoration: none;
 }
 .cart{
  padding:0 20px;
 }

 .pd{
  color:black;
  text-decoration: none;
 }
.btn{
  color:black;
  
  border-color: black;
}
.nav-link{
  font-weight: bolder;
  margin-left: auto;
}

.br{
  margin-bottom: 20px;
}
.form-group{
  margin:20px;
  border-color: black;
 
}
form{
  text-align: center;
}
textarea{
  resize: none;
}
.c{
  background-color: azure;
}
.bi-bookmark-heart{
  padding: 3px;
}
.bi-person-check{
  padding: 3px;
}
.bi-truck{
  padding: 3px;
}
*{
 scroll-behavior: smooth;
 
}
.backtop {
    position: fixed;
    right: 20px; 
    bottom: 20px; 
  }
  .quantity{
    padding-bottom: 5px;
  }
  .co{
    
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .bi-check-circle{
    color: green;
  }
  .h{
    color: black;
    text-decoration:dashed
  }